.robot-minicart-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
}
.product-price {
    display: block;
    margin-bottom: 5px;
}
.product-img {
    max-width: 60px;
    padding-right: 10px
}
.robot-minicart-item-content h4{
    margin-bottom: 0
}
.robot-minicart-quantity-label {
    margin-right: 5px;;
}
.robot-minicart-item-content {
    flex: 1;
}
.robot-minicart-remove {
    background-color: red;
    width: 16px;
    height: 16px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    border-radius: 100px;
    position: absolute;
    top: -7px;
    right: -6px;
}